In [89]:
from dotenv import load_dotenv
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [90]:
load_dotenv(override=True)
csv_path = os.getenv('CSV_PATH')
csv_path

'wandb_output_2025-01-06-15-03-01.csv'

In [91]:
df = pd.read_csv(csv_path)
df.describe()

,target_character,branch_factor,total_iterations,n_self_alignment,total_timesteps,seed,Evaluation/llm_iteration,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
count,1798.000000,1798.0,1798.000000,1798.000000,1.798000e+03,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000,1798.000000
mean,1.489989,2.0,6.737486,1.754727,4.933259e+07,3.926029,3.731368,0.162341,0.711939,0.471394,19.717034,2.202892,0.310085,0.150445,0.336578,0.296125,0.513330
std,0.500039,0.0,1.292092,2.386993,5.124988e+06,2.429090,1.942302,0.243601,0.288783,0.354425,11.702168,1.046293,0.570432,0.323400,0.535679,0.371133,0.436335
min,1.000000,2.0,6.000000,0.000000,1.000000e+07,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.0,6.000000,0.000000,5.000000e+07,2.000000,2.000000,0.000000,0.533333,0.133333,0.000000,1.600000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,2.0,6.000000,0.000000,5.000000e+07,4.000000,4.000000,0.022222,0.783333,0.416667,26.000002,2.766667,0.000000,0.000000,0.033333,0.100000,0.533333
75%,2.000000,2.0,6.000000,5.000000,5.000000e+07,5.000000,5.000000,0.266667,1.000000,0.833333,26.500000,3.000000,0.333333,0.100000,0.500000,0.566667,1.000000
max,2.000000,2.0,9.000000,5.000000,5.000000e+07,15.000000,9.000000,1.000000,1.000000,1.000000,34.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000

df = df[(df['gpt_model'] == 'chatgpt-4o') & (df['target_character'] == 2) & (df['pe'] == 'got') & (df['seed'].isin([2, 3, 6, 11, 13]))]

In [92]:
df.columns

Index(['run_id', 'final_state', 'target_character', 'pe', 'gpt_model',
       'branch_factor', 'exp_name', 'evaluator', 'total_iterations',
       'n_self_alignment', 'feedback_type', 'feedback_input_type',
       'total_timesteps', 'reward_feature', 'fewshot', 'problem', 'seed',
       'Evaluation/llm_iteration', 'Evaluation/acc_imp_perc',
       'Evaluation/exist_imp_perc', 'Evaluation/reach_imp_perc',
       'Evaluation/path_length', 'Evaluation/fn_imp_perc',
       'Evaluation/fp_imp_perc', 'Evaluation/tn_imp_perc',
       'Evaluation/tp_imp_perc', 'Evaluation/solvability',
       'Evaluation/playability'],
      dtype='object')

In [93]:
df = df[df['fewshot'] == False]
df = df[df['evaluator'] == 'hr']
df = df[df['feedback_type'] == 'default']
df = df[df['exp_name'] != 'vision']
df = df[df['gpt_model'].isin(['gpt-4o', 'llama-32'])]
df = df[df['Evaluation/llm_iteration'] <= 6]
df

,run_id,final_state,target_character,pe,gpt_model,branch_factor,exp_name,evaluator,total_iterations,n_self_alignment,...,Evaluation/acc_imp_perc,Evaluation/exist_imp_perc,Evaluation/reach_imp_perc,Evaluation/path_length,Evaluation/fn_imp_perc,Evaluation/fp_imp_perc,Evaluation/tn_imp_perc,Evaluation/tp_imp_perc,Evaluation/solvability,Evaluation/playability
0,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.011111,0.533333,0.533333,26.000002,2.566667,0.400000,0.0,0.033333,0.200000,1.000000
1,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.000000,0.000000,26.000000,2.666667,0.333333,0.0,0.000000,0.166667,0.966667
2,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.033333,0.633333,0.600000,26.214287,2.566667,0.333333,0.0,0.100000,0.166667,0.933333
3,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.600000,0.133333,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,re2wd1xx,finished,1,cot,gpt-4o,2,def,hr,6,0,...,0.000000,0.166667,0.000000,0.000000,3.000000,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,pe-got_it-6_fit-hr_exp-llama32sa_t-sce_chr-1_1...,finished,1,got,llama-32,2,llama32sa,hr,6,5,...,0.255556,0.833333,0.833333,26.000000,0.300000,1.933333,0.0,0.766667,0.933333,0.966667
1779,pe-got_it-6_fit-hr_exp-llama32sa_t-sce_chr-1_1...,finished,1,got,llama-32,2,llama32sa,hr,6,5,...,0.288889,0.933333,0.933333,26.000000,0.200000,1.933333,0.0,0.866667,0.933333,0.966667
1780,pe-got_it-6_fit-hr_exp-llama32sa_t-sce_chr-1_1...,finished,1,got,llama-32,2,llama32sa,hr,6,5,...,0.311111,1.000000,0.966667,26.137932,0.133333,1.933333,0.0,0.933333,0.866667,0.966667
1781,pe-got_it-6_fit-hr_exp-llama32sa_t-sce_chr-1_1...,finished,1,got,llama-32,2,llama32sa,hr,6,5,...,0.288889,1.000000,0.966667,26.000000,0.266667,1.866667,0.0,0.866667,0.933333,0.966667
1782,pe-got_it-6_fit-hr_exp-llama32sa_t-sce_chr-1_1...,finished,1,got,llama-32,2,llama32sa,hr,6,5,...,0.300000,0.966667,0.966667,26.000000,0.166667,1.933333,0.0,0.900000,0.933333,0.966667

In [94]:
df.groupby(['gpt_model', 'pe', 'target_character']).agg({'Evaluation/acc_imp_perc': ['count']})

                               Evaluation/acc_imp_perc
                                                 count
gpt_model pe  target_character
gpt-4o    cot 1                                     60
              2                                     60
          got 1                                     96
              2                                     84
          tot 1                                     96
              2                                     72
llama-32  cot 1                                     60
              2                                     60
          got 1                                     60
              2                                     60
          tot 1                                     60
              2                                     60

In [95]:
base_df = df[(df['n_self_alignment'] == 0) & (df['Evaluation/llm_iteration'] == 1)]
base_df = base_df.groupby(['gpt_model', 'pe', 'target_character']).agg({'Evaluation/acc_imp_perc': ['mean']})
base_df.columns = ['Base']
base_df = base_df.reset_index()
base_df

   gpt_model   pe  target_character      Base
0     gpt-4o  cot                 1  0.064444
1     gpt-4o  cot                 2  0.002222
2     gpt-4o  got                 1  0.012500
3     gpt-4o  got                 2  0.059259
4     gpt-4o  tot                 1  0.040278
5     gpt-4o  tot                 2  0.014286
6   llama-32  cot                 1  0.146667
7   llama-32  cot                 2  0.453333
8   llama-32  got                 1  0.284444
9   llama-32  got                 2  0.013333
10  llama-32  tot                 1  0.266667
11  llama-32  tot                 2  0.340000

In [96]:
sa_df = df[(df['n_self_alignment'] == 5) & (df['Evaluation/llm_iteration'] == 1)]
sa_df = sa_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
sa_df.columns = ['+ Self-Alignment']
sa_df = sa_df.reset_index()
sa_df

   gpt_model  target_character   pe  + Self-Alignment
0     gpt-4o                 1  cot          0.013333
1     gpt-4o                 1  got          0.080556
2     gpt-4o                 1  tot          0.094444
3     gpt-4o                 2  cot          0.006667
4     gpt-4o                 2  got          0.054167
5     gpt-4o                 2  tot          0.000000
6   llama-32                 1  cot          0.273333
7   llama-32                 1  got          0.262222
8   llama-32                 1  tot          0.333333
9   llama-32                 2  cot          0.322222
10  llama-32                 2  got          0.353333
11  llama-32                 2  tot          0.191111

sa_df_cp = sa_df.copy()
sa_df_cp['gpt_model'] = 'chatgpt-4o'
sa_df_cp['+ Self-Alignment'] = 0
sa_df = pd.concat([sa_df, sa_df_cp])
sa_df

In [97]:
fb_df = df[(df['n_self_alignment'] == 0) & (df['Evaluation/llm_iteration'] == 6)]
fb_df = fb_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
fb_df.columns = ['+ Feedback']
fb_df = fb_df.reset_index()
fb_df

   gpt_model  target_character   pe  + Feedback
0     gpt-4o                 1  cot    0.011111
1     gpt-4o                 1  got    0.016667
2     gpt-4o                 1  tot    0.333333
3     gpt-4o                 2  cot    0.300000
4     gpt-4o                 2  got    0.155556
5     gpt-4o                 2  tot    0.323810
6   llama-32                 1  cot    0.026667
7   llama-32                 1  got    0.068889
8   llama-32                 1  tot    0.108889
9   llama-32                 2  cot    0.451111
10  llama-32                 2  got    0.544444
11  llama-32                 2  tot    0.362222

In [98]:
safb_df = df[(df['n_self_alignment'] == 5) & (df['Evaluation/llm_iteration'] == 6)]
safb_df = safb_df.groupby(['gpt_model', 'target_character', 'pe']).agg({'Evaluation/acc_imp_perc': ['mean']})
safb_df.columns = ['+ Feedback & Self-Alignment']
safb_df = safb_df.reset_index()
safb_df

   gpt_model  target_character   pe  + Feedback & Self-Alignment
0     gpt-4o                 1  cot                     0.093333
1     gpt-4o                 1  got                     0.054167
2     gpt-4o                 1  tot                     0.120833
3     gpt-4o                 2  cot                     0.140000
4     gpt-4o                 2  got                     0.168056
5     gpt-4o                 2  tot                     0.073333
6   llama-32                 1  cot                     0.293333
7   llama-32                 1  got                     0.197778
8   llama-32                 1  tot                     0.220000
9   llama-32                 2  cot                     0.651111
10  llama-32                 2  got                     0.568889
11  llama-32                 2  tot                     0.506667

safb_df_cp = safb_df.copy()
safb_df_cp['gpt_model'] = 'chatgpt-4o'
safb_df_cp['+ Feedback & Self-Alignment'] = 0
safb_df = pd.concat([safb_df, safb_df_cp])
safb_df

In [99]:
pk = ['gpt_model', 'target_character', 'pe']

merged = pd.merge(base_df, sa_df, on=pk).merge(fb_df, on=pk).merge(safb_df, on=pk)
merged

,gpt_model,pe,target_character,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,gpt-4o,cot,1,0.064444,0.013333,0.011111,0.093333
1,gpt-4o,cot,2,0.002222,0.006667,0.300000,0.140000
2,gpt-4o,got,1,0.012500,0.080556,0.016667,0.054167
3,gpt-4o,got,2,0.059259,0.054167,0.155556,0.168056
4,gpt-4o,tot,1,0.040278,0.094444,0.333333,0.120833
5,gpt-4o,tot,2,0.014286,0.000000,0.323810,0.073333
6,llama-32,cot,1,0.146667,0.273333,0.026667,0.293333
7,llama-32,cot,2,0.453333,0.322222,0.451111,0.651111
8,llama-32,got,1,0.284444,0.262222,0.068889,0.197778
9,llama-32,got,2,0.013333,0.353333,0.544444,0.568889
10,llama-32,tot,1,0.266667,0.333333,0.108889,0.220000
11,llama-32,tot,2,0.340000,0.191111,0.362222,0.506667

In [100]:
mean = merged.groupby('gpt_model').agg({'Base': ['mean'], '+ Self-Alignment': ['mean'], '+ Feedback': ['mean'], '+ Feedback & Self-Alignment': ['mean']})
mean.columns = ['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment']
mean.insert(0, 'pe', 'mean')
mean.insert(0, 'target_character', 'mean')
mean = mean.reset_index()
mean

,gpt_model,target_character,pe,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,gpt-4o,mean,mean,0.032165,0.041528,0.190079,0.108287
1,llama-32,mean,mean,0.250741,0.289259,0.260370,0.406296

In [101]:
result = pd.concat([mean, merged])
result

,gpt_model,target_character,pe,Base,+ Self-Alignment,+ Feedback,+ Feedback & Self-Alignment
0,gpt-4o,mean,mean,0.032165,0.041528,0.190079,0.108287
1,llama-32,mean,mean,0.250741,0.289259,0.260370,0.406296
0,gpt-4o,1,cot,0.064444,0.013333,0.011111,0.093333
1,gpt-4o,2,cot,0.002222,0.006667,0.300000,0.140000
2,gpt-4o,1,got,0.012500,0.080556,0.016667,0.054167
3,gpt-4o,2,got,0.059259,0.054167,0.155556,0.168056
4,gpt-4o,1,tot,0.040278,0.094444,0.333333,0.120833
5,gpt-4o,2,tot,0.014286,0.000000,0.323810,0.073333
6,llama-32,1,cot,0.146667,0.273333,0.026667,0.293333
7,llama-32,2,cot,0.453333,0.322222,0.451111,0.651111
8,llama-32,1,got,0.284444,0.262222,0.068889,0.197778
9,llama-32,2,got,0.013333,0.353333,0.544444,0.568889
10,llama-32,1,tot,0.266667,0.333333,0.108889,0.220000
11,llama-32,2,tot,0.340000,0.191111,0.362222,0.506667

In [102]:
result.to_csv('self-alignment-and-feedback.csv', index=False)

In [103]:

target_character_order = [1, 2, "mean"]  # 예: 특정 시나리오 번호와 "mean"
pe_order = ["cot", "tot", "got", "mean"]  # 예: Prompt Engineering 방식

result['target_character'] = pd.Categorical(result['target_character'], categories=target_character_order, ordered=True)
result['pe'] = pd.Categorical(result['pe'], categories=pe_order, ordered=True)


pivot_df = result.pivot_table(index=['target_character', 'pe'], columns='gpt_model', values=['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment'])
pivot_df

/var/folders/x_/2lt9k5kn52q43m1_z0kp7tfm0000gn/T/ipykernel_93705/2994687191.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = result.pivot_table(index=['target_character', 'pe'], columns='gpt_model', values=['Base', '+ Self-Alignment', '+ Feedback', '+ Feedback & Self-Alignment'])

                      + Feedback           + Feedback & Self-Alignment  \
gpt_model                 gpt-4o  llama-32                      gpt-4o
target_character pe
1                cot    0.011111  0.026667                    0.093333
                 tot    0.333333  0.108889                    0.120833
                 got    0.016667  0.068889                    0.054167
2                cot    0.300000  0.451111                    0.140000
                 tot    0.323810  0.362222                    0.073333
                 got    0.155556  0.544444                    0.168056
mean             mean   0.190079  0.260370                    0.108287

                                + Self-Alignment                Base
gpt_model              llama-32           gpt-4o  llama-32    gpt-4o  llama-32
target_character pe
1                cot   0.293333         0.013333  0.273333  0.064444  0.146667
                 tot   0.220000         0.094444  0.333333  0.040278  0.266667
                 got   0.197778         0.080556  0.262222  0.012500  0.284444
2                cot   0.651111         0.006667  0.322222  0.002222  0.453333
                 tot   0.506667         0.000000  0.191111  0.014286  0.340000
                 got   0.568889         0.054167  0.353333  0.059259  0.013333
mean             mean  0.406296         0.041528  0.289259  0.032165  0.250741

In [104]:
pivot_df.columns = pivot_df.columns.swaplevel(0, 1)
pivot_df.columns

MultiIndex([(  'gpt-4o',                  '+ Feedback'),
            ('llama-32',                  '+ Feedback'),
            (  'gpt-4o', '+ Feedback & Self-Alignment'),
            ('llama-32', '+ Feedback & Self-Alignment'),
            (  'gpt-4o',            '+ Self-Alignment'),
            ('llama-32',            '+ Self-Alignment'),
            (  'gpt-4o',                        'Base'),
            ('llama-32',                        'Base')],
           names=['gpt_model', None])

In [105]:
# 정렬 (주어진 Categorical 순서가 반영됨)
pivot_df = pivot_df.sort_index(level=['target_character', 'pe'], sort_remaining=False)

column_order = [
            (    'gpt-4o',                        'Base'),
            (    'gpt-4o',            '+ Self-Alignment'),
            (    'gpt-4o',                  '+ Feedback'),
            (    'gpt-4o', '+ Feedback & Self-Alignment'),
            (    'llama-32',                    'Base'),
            (    'llama-32',            '+ Self-Alignment'),
            (    'llama-32',                  '+ Feedback'),
            (    'llama-32', '+ Feedback & Self-Alignment')
]

# 결과 확인
pivot_df = pivot_df[column_order]
pivot_df

gpt_model                gpt-4o                              \
                           Base + Self-Alignment + Feedback
target_character pe
1                cot   0.064444         0.013333   0.011111
                 tot   0.040278         0.094444   0.333333
                 got   0.012500         0.080556   0.016667
2                cot   0.002222         0.006667   0.300000
                 tot   0.014286         0.000000   0.323810
                 got   0.059259         0.054167   0.155556
mean             mean  0.032165         0.041528   0.190079

gpt_model                                          llama-32                   \
                      + Feedback & Self-Alignment      Base + Self-Alignment
target_character pe
1                cot                     0.093333  0.146667         0.273333
                 tot                     0.120833  0.266667         0.333333
                 got                     0.054167  0.284444         0.262222
2                cot                     0.140000  0.453333         0.322222
                 tot                     0.073333  0.340000         0.191111
                 got                     0.168056  0.013333         0.353333
mean             mean                    0.108287  0.250741         0.289259

gpt_model
                      + Feedback + Feedback & Self-Alignment
target_character pe
1                cot    0.026667                    0.293333
                 tot    0.108889                    0.220000
                 got    0.068889                    0.197778
2                cot    0.451111                    0.651111
                 tot    0.362222                    0.506667
                 got    0.544444                    0.568889
mean             mean   0.260370                    0.406296

In [106]:
def insert_str(src_str, idx, insert_str):
    # LaTeX 문자열을 줄 단위로 나눔
    lines = src_str.splitlines()
    
    # 지정된 줄 번호 뒤에 \midrule 삽입
    lines.insert(idx, insert_str)
    
    # 다시 LaTeX 문자열로 결합
    return "\n".join(lines)

In [113]:
from IPython.display import display, Latex

# Generate the LaTeX string from the dataframe
tex_str = pivot_df.to_latex(
    buf=None, 
    escape=True, 
    bold_rows=False, 
    position='!t', 
    float_format="%.3f", 
    multicolumn_format='c',
    caption='Ablation study results for framework architecture, comparing accuracy across prompt engineering methods and scenarios.', 
    label='tab:ablation_study'
)

# Perform replacements to modify the LaTeX string
replacements = {
    'target_character': 'Scenario',
    '& pe &': '& PE &',
    'gpt_model': 'LLM ($\\mathcal{M}$)',
    'table': 'table*',
    'Self-Alignment': 'SA',
    'Feedback': 'FB',
    '\\cline{1-10}\n': '',
    'cot': 'CoT',
    'tot': 'ToT',
    'got': 'GoT',
    'mean & mean': '\\multicolumn{2}{c|}{\\textbf{Mean}}',
    '\\multicolumn{4}{c}{gpt-4o}': '\\multicolumn{4}{c}{\\texttt{gpt-4o-2024-08-06}}',
    'llama-32': '\\texttt{llama3.2-90b-instruct}',
    '\\begin{tabular}{llrrrrrrrr}': '\\begin{tabular}{ll|rrrr|rrrr}',
    '{c}{\\texttt{gpt-4o-2024-08-06}': '{c|}{\\texttt{gpt-4o-2024-08-06}'
}

for old, new in replacements.items():
    tex_str = tex_str.replace(old, new)

# Update the header to bold specific columns
original_header = ' &  & Base & + SA & + FB & + FB \\\\& SA & Base & + SA & + FB & + FB \\\\& SA \\\\'
modified_header = original_header.replace('Base', '\\textbf{Base}')
modified_header = modified_header.replace('+ SA', '\\textbf{+SA}')
modified_header = modified_header.replace('+ FB \\\\& SA', '\\textbf{+FB, SA}')
modified_header = modified_header.replace('+ FB', '\\textbf{+FB}')
tex_str = tex_str.replace(original_header, modified_header)

# Update the tabular header to adjust column widths
tabular_header = "\\begin{tabular}{p{1.5cm}p{1.5cm}|p{1.3cm}p{1.3cm}p{1.3cm}p{1.3cm}|p{1.3cm}p{1.3cm}p{1.3cm}p{1.3cm}}"
tex_str = tex_str.replace("\\begin{tabular}{ll|rrrr|rrrr}", tabular_header)

offset = 0
tex_str = insert_str(tex_str, 12 + offset, "\\midrule")
offset += 1
tex_str = insert_str(tex_str, 15 + offset, "\\midrule")

# Save the modified LaTeX string to a file
with open('ablation_study_detail.tex', 'w') as f:
    f.write(tex_str)

# Display the final LaTeX string
display(Latex(tex_str))